.header-top-l {
    width: 100%;
}

.header-top-left-l {
    float: left;
}

.header-top-right-l {
    float: right;
    &:after {
        clear: both;
    }
}

.header-top-right-l,
.header-top-left-l {
    padding: 9px 20px;
}

.logo {
    flex-grow: 0;
    font-size: 50px;
}

.test {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.fleche-l {
    position: absolute;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
    width: 50px;
    height: 50px;
}

.app {
    position: absolute;
    font-size: 3em;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 9999999;
    cursor: pointer;
}

.cache {
    display: none;
    @include opacity(.7);
    @include background( radial-gradient( to top right, lighten(#000, 20%), #000));
    /* Standard syntax */
    z-index: 999999;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
}

.nav-ul {
    position: absolute;
    top: 20px;
    right: 20px;
    transition-duration: 3s;
    font-size: 50px;
    list-style: none;
    text-align: right;
}