<div class="contact">
<h2 class="h2">contact me</h2>
	<div class="contact-split">
		<div class="contact-left">
			</div>
			<div class="contact-right">
				<ul>
				<li><i class="lnr lnr-map"></i>Paris, France</li>
				<li><i class="lnr lnr-phone"></i>06 29 42 51 29</li>
				<li><i class="lnr lnr-envelope"></i>klaja.raphael@gmail.com</li>
				</ul>
			</div>
	</div>

</div>
