<div class="gallery">
	 <div class="container">
        <h2 class="h2">Capture</h2>
		<p class="section-under-title">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo ad, dicta quod rem cumque, rerum non expedita accusamus beatae. Adipisci dicta doloremque amet nam hic eius, maxime iusto voluptatem, sunt.
        </p>
		<ul>
			<li class="image-container"><img src="/static/assets/img/8.jpg" alt="image" /></li>
			<li class="image-container"><img src="/static/assets/img/9.jpg" alt="image" /></li>
			<li class="image-container"><img src="/static/assets/img/10.jpg" alt="image" /></li>
			<li class="image-container"><img src="/static/assets/img/11.jpg" alt="image" /></li>
			<li class="image-container"><img src="/static/assets/img/12.jpg" alt="image" /></li>
			<li class="image-container"><img src="/static/assets/img/13.jpg" alt="image" /></li>
			<li class="image-container"><img src="/static/assets/img/14.jpg" alt="image" /></li>
			<li class="image-container"><img src="/static/assets/img/15.jpg" alt="image" /></li>
			<li class="image-container"><img src="/static/assets/img/16.jpg" alt="image" /></li>
			<li class="image-container"><img src="/static/assets/img/17.jpg" alt="image" /></li>
			<li class="image-container"><img data-name="2" src="/static/assets/img/2.jpg" alt="image" /></li>
			<li class="image-container"><img data-name="2" src="/static/assets/img/2.jpg" alt="image" /></li>
		</ul>
        <div class="loadmore-l"><button id="loadmore" class="btn-primary">View more</button></div>
	</div>
</div>
