<!DOCTYPE html>
<html lang="fr">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" media="screen, projection" type="text/css" href="/static/assets/css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 900px)" href="/static/assetscss/mobile-style.css" />
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
</head>

<body class="nav-active">
    <div class="cache">
	<nav class="nav">
				<ul class="nav-ul">
				<li><a href="#" class="nav-link">Who am I?</a></li>
				<li><a href="#" class="nav-link">photos</a></li>
				<li><a href="#" class="nav-link">video</a></li>
				<li><a href="#" class="nav-link">code</a></li>
				<li><a href="#" class="nav-link">organisations</a></li>
				</ul>
			</nav>
	</div>
    <div class="part-1">
        <header class="header-l header">
            <div class="header-search header-search-l">
                <div class="logo"><span class="lnr lnr-rocket"></span> 4science</div>
            </div>
            <span class="app lnr lnr-menu-circle"></span>
        </header>
        <div class="container">
            <div class="ctt1">
                <h1 class="h1">I am</h1>
                <span class="lead-bar"></span>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
            </div>
            <div class="fleche-l">
                <a href="#" id="scroll" class="fleche"><span class="lnr lnr-chevron-down-circle"></span></a>
            </div>
        </div>

    </div>
