<%- include('../partials/header') %>
    <div class="part-2">
        <div class="container">
            <h2 class="h2">Who am I?</h2>
            <p class="section-under-title">Libero, cupiditate corporis. Blanditiis et maiores accusamus quibusdam delectus nobis ipsum, nulla, magnam at aspernatur, placeat omnis.</p>
            <div class="row">
                <div class="col-l">
                    <div class="col-round">
                        <span class="lnr lnr-bubble"></span>
                    </div>
                    <h3 class="col-h3">Act</h3>
                    <p class="col-legend">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, repudiandae, id. Delectus nemo iure necessitatibus! Modi repudiandae iste odio quos repellendus, sint possimus accusantium facere at eius tempore odit non?</p>
                </div>
                <div class="col-l">
                    <div class="col-round">
                        <span class="lnr lnr-camera"></span>
                    </div>
                    <h3 class="col-h3">Capture</h3>
                    <p class="col-legend">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, repudiandae, id. Delectus nemo iure necessitatibus! Modi repudiandae iste odio quos repellendus, sint possimus accusantium facere at eius tempore odit non?</p>
                </div>
                <div class="col-l">
                    <div class="col-round">
                        <span class="lnr lnr-code"></span>
                    </div>
                    <h3 class="col-h3">Create</h3>
                    <p class="col-legend">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, repudiandae, id. Delectus nemo iure necessitatibus! Modi repudiandae iste odio quos repellendus, sint possimus accusantium facere at eius tempore odit non?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="part-3">
        <div class="container">
            <div class="ctt1">
                <h1 class="h1">Agir</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo ad, dicta quod rem cumque, rerum non expedita accusamus beatae. Adipisci dicta doloremque amet nam hic eius, maxime iusto voluptatem, sunt.
                </p>
                <a class="btn btn-primary" href="#">Get started</a> <a class="btn btn-classic" href="#">Learn more</a>
            </div>
        </div>
    </div>

    <div class="part-2">
        <div class="container">
            <h2 class="h2">What about an independant source of research?</h2>
            <p class="section-under-title">Libero, cupiditate corporis. Blanditiis et maiores accusamus quibusdam delectus nobis ipsum, nulla, magnam at aspernatur, placeat omnis.</p>
            <div class="row">
                <div class="col-l">
                    <div class="col-round">
                        <img src="./static/assets/img/1.jpg" alt="">
                    </div>
                    <h3 class="col-h3">Trouvez</h3>

                    <p class="col-legend">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, repudiandae, id. Delectus nemo iure necessitatibus!</p>
                </div>
                <div class="col-l">
                    <div class="col-round">
                        <img src="/static/assets/img/3.jpg" alt="">
                    </div>
                    <h3 class="col-h3">DécouvreZ</h3>
                    <p class="col-legend">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, repudiandae, id. Delectus nemo iure necessitatibus!</p>
                </div>
                <div class="col-l">
                    <div class="col-round">
                        <img src="/static/assets/img/2.jpg" alt="">
                    </div>
                    <h3 class="col-h3">Cultivez</h3>
                    <p class="col-legend">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, repudiandae, id. Delectus nemo iure necessitatibus!</p>
                </div>
            </div>
        </div>
    </div>








	<%- include('../partials/gallery')  %>
	<%- include('../partials/contact')  %>


<%- include('../partials/footer')  %>
